body {
  background-color: #09151a;
  display: flex;
  font-family: "Poiret One", cursive;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.app {
  width: 350px;
}

.completed {
  opacity: 0.1;
  text-decoration: line-through;
}

.content {
  background-image: linear-gradient(
    180deg,
    #0f2027 20%,
    #203a43 70%,
    #2c5364 100%
  );
  border-radius: 5px;
  display: flex;
  height: 700px;
  justify-content: center;
  margin: 30px;
  width: 450px;
}

.header {
  color: #ffffff;
  font-size: 130px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
}

.plus-icon {
  position: relative;
  left: 43%;
  bottom: 2px;
}

.task {
  display: flex;
  justify-content: space-between;
}

.task-adding {
  display: flex;
  justify-content: center;
}

.task-input {
  background-color: #203a43;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #0f2027;
  font-size: 20px;
  height: 40px;
  padding: 0 35px 0 6px;
  position: absolute;
  width: 305px;
}

.task-section {
  margin-top: 40px;
}

.task-text {
  color: #ffffff;
  font-size: 25px;
  margin: 10px 0;
}

@media (min-width: 768px) and (max-width: 959px) {
  .content {
    margin-top: 150px;
  }
}

@media (max-width: 767px) {
  .app {
    width: 285px;
  }
  .content {
    height: 600px;
    margin-top: 20px;
    max-width: 90%;
  }
  .header {
    font-size: 90px;
    margin-top: 30px;
  }
  .task-input {
    max-width: 65%;
  }
  .task-section {
    margin-top: 20px;
  }
}
